<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>My App</title>
</head>
<body>
<h1>My App</h1>


<span sec:authentication="name"></span>
<br><br>

<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users/}">List of Users</a>
<br>
<a th:href="@{/items/}">List of Items</a>
<br>
<a th:href="@{/categories/}">List of Categories</a>
<br>
<a th:href="@{/rentals/}">List of Rentals</a>

<br><br>

<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Administration</a>
<br><br>

<a th:href="@{/logout}">Logout</a>

</body>
</html>