<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item List</title>
</head>
<body>

<h1>Item Detail</h1>

Name: <span th:text="${item.name}"></span><br>
Description: <span th:text="${item.description}"></span><br>
Price per day: <span th:text="${item.pricePerDay}"></span> Kc<br>
Owner: <span th:text="${item.user != null ? item.user.name : '-'}"></span><br>
Category: <span th:text="${item.category != null ? item.category.name : '-'}"></span><br>

<br>

<a th:href="@{'/items/' + ${item.id} + '/edit'}">Edit this Item</a><br>
<a th:href="@{'/items/' + ${item.id} + '/delete'}">Delete this Item</a>

</body>
</html>